// Layout

$break-sg-nav: 38.688em;

.sg-wrap {
  @include flex;
  @include flex-wrap;
}

// Header
.sg-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  //border-bottom: 1px solid #eee;
  @include flex;
  @include jc-between;
  flex: 1 0 100%;
  justify-self: flex-start;
  @include relative;
  // position: fixed;
  //top: 0;
  // width: 100%;
  z-index: 4;

  @media (min-height: $break-480) and (min-width: $break-sg-nav) {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

// Main
.sg-main {
  background-color: #e8e8e8;
  @include flex;
  @include flex-d-col;
  @include flex-1;
  flex: 1 1 70vw;
  min-height: 100vh;
}

// Sidebar
.sg-sidebar {
  background-color: #f2f2f2;
  color: #333;
  color: #0070D1;
  flex: 0 1 10rem;
  @include mb-0;
  @include text-sm;

  &:target,
  &:not([hidden]) {
    @include pt-pb-2;
    // @include pr-3;
    // @include pl-2;
  }

  @media (max-width: $break-sg-nav) {
    border-bottom: 1px solid #e0e0e0;
    flex: 1;

    &:target,
    &:not([hidden]) {
      @include relative;
      z-index: 2;
      // position: fixed;
      // top: 49px;
      // width: 100%;
      // z-index: 1;
    }
  }
}

// Content

.sg-content {
  box-shadow: -1px 0 0 0 #e0e0e0;
  @include flex;
  @include flex-d-col;
  @include flex-1;
  //@include relative;
  //padding-top: 49px;

  @media (min-height: $break-480) and (min-width: $break-sg-nav) {
    padding-top: 49px;
  }
}

.sg-content-wrap {
  background-color: #f9f9f9;
  @include flex;
  @include flex-d-col;
  @include flex-1;
  @include mr-ml-a;
  @include mw-100p;
  //padding-bottom: 100vh;
  @include relative;
  // transition: max-width .4s ease,
  //             min-width .4s ease,
  //             opacity .4s ease,
  //             width .4s ease;
  transition: opacity .4s ease;
  @include w-100;

  > iframe {
    @include absolute;
    @include h-100;
    @include w-100;
    top: 0;
  }

  &.active:not(.show) {
    box-shadow: 0 0 2rem 0 #ccc;
  }

  // screen size marker
  &[class*="resized"]::after {
    //background: rgba(0,0,0, .85);
    display: block;
    font-size: .75rem;
    font-family: $sans-serif;
    font-weight: 600;
    line-height: 0;
    //opacity: .45;
    padding: 1em .5em;
    position: absolute;
    top: 49px;
    right: 0;
    z-index: 2;
    position: fixed;
    top: 14px;
    right: 60px;
    z-index: 5;
  }

  .tab-pane.show-all {
    display: block;
    opacity: 1;
  }

  @media (min-width: $break-375) {
    &.resized-sm {

      .sg-module {
        @include pt-pb-1;
        padding-right: 1.5em;
        padding-left: 1.5em;
      }

      &::after {
        content: "375px / 23.438em";
      }
    }

    &.resized-md::after {
      content: "768px / 48em"
    }

    &.resized-lg::after {
      content: "1140px / 71.25em"
    }
  }
}

.sg-module {
  border-bottom: 1px solid #e0e0e0;
  @include mb-3;
  @include p-2;
  overflow-x: auto;

  &:last-child {
    border-bottom: none;
    @include mb-0;
  }

  @media (min-width: $break-480) {
    //@include p-3;
  }
}

.sg-sub-module {
  @include pt-pb-2;
}

.sg-module-title {
  @include mb-1-pt5;
  @include text-md;
}

.sg-module-description {
  @include mb-4;
  max-width: 50ch;
}

.sg-module-intro {

  .sg-module-description {
    @include mb-0;
  }
}

.sg-color-swatches {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 2rem;

  > * {
    @include flex;
    @include ai-center;
    @include jc-center;
    @include p-2;
  }
}

.sg-frame {
  @include flex;
  > * {
    @include flex-1;
    min-height: 100vh;
  }
}
