// Lazy Load Styles

.lazyload {
  //opacity: 0;
  //transition: opacity .3s;
}

figure.lazyload {
  & > a:first-child {
    //display: none;  
  }
}


.enhanced {
  .lazyload {
    opacity: 0;
  }
   figure.lazyload a:first-child,
   img.lazyload {
    display: block; 
    .media-caption {
      //display: block;
    } 
  }
  
  .lazyloaded {
    opacity: 1;
    transition: .3s ease;
  }
  
  // 667
  @media (min-width: $break-640) {
  
    // .lazyload {
    //   will-change: transform scale;
    // 	transform: scale(.8);
    // }
    
    // .lazyloaded {
    // 	transform: scale(1);
    // 	transition: opacity .5s, transform .5s cubic-bezier(.42,.06,.65,.99); 	 
    // }

  }
}

// Corner Ribbon

.wip {
  //display: none;
  opacity: .8;
  @include corner-ribbon;
  background: rgba(darkred, 1);
  font-size: .75em;
  font-family: $sans-serif;
  line-height: 2;
  position: fixed;  
  width: 400px;
  z-index: 5000; 
  svg {
    fill: #FFFFFF;
    height: 45px; 
    right: -1px;
    margin-bottom: 1em;
    position: relative;
    top: 6px;
  }
  span {
    display: block;
    font-size: .8em;
    opacity: 0;
    transition: .3s ease;   
  }
  .art-credit {
    position: absolute;
    top: 0;
    left: 0;   
  }
  &.bottom-right {
    height: 90px;
    bottom: -20px;
    right: -175px;
    transition: .3s ease;    
    svg, span {
      transform: rotate(45deg);
    }
    &:hover,
    &:focus {
      height: 200px;      
      bottom: -50px;
      right: -140px;
      padding-right: 4em;
      svg {
      } 
      span {
        opacity: 1;
      }
    }
  }
  // 768
  @media (min-width: $break-768) {
    // display: block;
  }     
}

// wip disclaimer

// .wip-disclaimer {
//   //background: linear-gradient(135deg, rgba(#639, .85) 0%, mix(black, #639, 50%) 100%);
//   background-color: rgba(black,.85);
//   font-size: .9rem;
//   font-family: $sans-serif;
//   letter-spacing: .03em;
//   position: relative;
//   top: 0;
//   left: 0;
//   //text-align: center;
//   z-index: 1001;
//   width: 100%;
//   p {
//     color: #fff;
//   }
//   button {
//     background-color: mix(black, #639, 60%);
//     background-color: black;
//     overflow: hidden;
//     font-size: 1.4rem;
//     margin-left: auto;
//     padding: 1em 1.35em;
//     .icon {
//       margin: 0;
//       transform: rotate(45deg);
//     }
//   }
//   // 640
//   @media (min-width: $break-640) {
//     //display: none;
//     .headroom & {
//       position: absolute;
//       //height: 4rem;
//       top: 4rem;
//     }
//   }
//   // 1200
//   @media (min-width: $break-900) {
//     .headroom & {
//       //right: 0;
//       //left: auto;
//       //width: 40%;
//     }
//   }
// }

// Top Anchor button

// .top-anchor {
//   display: none; 
//   background: #34bb6a;
//   color: #FFF;
//   margin-right: auto; 
//   margin-left: auto;  
//   padding: .5rem .875rem;
//   //position: relative;
//   //bottom: 0;
//   //right: 50%;
//   width: 100px;
//   //margin-left: -50px;
//   text-align: center;     
// }

// Porthole.js

// [data-scroll-activate] .top-anchor {
//   opacity: 0;
//   bottom: 1rem; 
//   transition: bottom .3s ease-in, opacity .3s;
// }

// .inviewport .top-anchor {
//   opacity: 1;
//   bottom: 2rem; 
//   transition: bottom .3s ease-out, opacity .3s;
// }

// Headroom.js

// > 640
@media (min-width: $break-640) {

  %headroom {
    // .site-header {
    //   margin-bottom: 0;
    // }
    .main-content {
      padding-top: 5rem;
    }  
    .main-menu {
      //background: transparent;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;  
      z-index: 1000;
      will-change: transform;
      transform: none;
      transition: .3s ease;
    }
  }
  
  %headroom--pinned, %headroom--not-top {
    .main-menu {
      background: linear-gradient(to left, #e96443 , #904e95);
      
      opacity: 1;
      @media (min-width: $break-640) {
        background: linear-gradient(270deg, #903f96, #77a2b7);
        background: linear-gradient(54deg, #ED165D, #071828);
      }

    }
    &.headroom--top {
      .main-menu {
        background: transparent;
      }
    }
  }
  %headroom--unpinned .main-menu {
    //background: linear-gradient(270deg, #903f96, #77a2b7);
    transform: translateY(-100%);
    opacity: 0;
  }
  
}

// skip to main

.skip-link {
  background-color: $link;
  color: #FFF;
  display: flex;
  @include ai-center;
  justify-content: center;
  @include fonts-loaded-KO;
  font-size: 2.5rem;
  line-height: 1;
  max-height: 0;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: .3s ease;
  width: 100%;
  z-index: 1001;
  @media (min-width: $break-640) {
    position: absolute;
  }
}

a.skip-link:focus {
  box-shadow: none;
  color: #FFF;
  max-height: 100px;
  padding-top: .5em;
  padding-bottom: .5em;
  //transition: .3s ease;
}
