//**  CLASS Modifiers  **//

.flex {
  @include flex;
}

.flex-wrap {
  @include flex-wrap;
}

.flex-auto {
  @include flex-auto;
}

.flex-reset {
  @include flex-reset;
}

.flex-basis-auto {
  @include flex-basis-auto;
}

.flex-basis-100 {
  @include flex-basis-100;
}

.flex-0 {
  @include flex-0;
}

.flex-100 {
  @include flex-100;
}

.flex-1 {
  @include flex-1;
}

.flex-2 {
  @include flex-2;;
}

.flex-3 {
  @include flex-3;
}

.flex-4 {
  @include flex-4;
}

.flex-grow-1 {
  @include flex-grow-1;
}

.flex-shrink-1 {
  @include flex-shrink-1;
}

// Flex Direction

.flex-d-col {
  @include flex-d-col;
}

.flex-d-col-rev {
  @include flex-d-col-rev;
}

.flex-d-row {
  @include flex-d-row;
}

.flex-d-row-rev {
  @include flex-d-row-rev;
}

// Align Items

.ai-start {
  @include ai-start;
}

.ai-end {
  @include ai-end;
}

.ai-center {
  @include ai-center;
}

.ai-stretch {
  @include ai-stretch;
}

// Align Self

.as-start {
  @include as-start;
}

.as-end {
  @include as-end;
}

.as-center {
  @include as-center;
}

.as-stretch {
  @include as-stretch;
}

.as-space-around {
  @include as-space-around;
}

.as-space-between {
  @include as-space-between;
}

// Flex Justify Content

.jc-start {
  @include jc-start;
}

.jc-end {
  @include jc-end;
}

.jc-center {
  @include jc-center;
}

.jc-stretch {
  @include jc-stretch;
}

.jc-around {
  @include jc-around;
}

.jc-between {
  @include jc-between;
}

.jc-evenly {
  @include jc-evenly;
}

.gap-1 {
  gap: 1rem;
}

// Layout

// Flex Rows

.flex-between {
  @include flex-between;
}

.flex-across-center {
  @include flex-across-center;
}

.flex-across-end {
  @include flex-across-end;
}

// Flex Columns

.flex-column-center {
  @include flex-column-center;
}

.flex-column-end {
  @include flex-column-end;
}

.flex-around {
  @include flex-around;
}

.flex-evenly {
  @include flex-evenly;
}

.flex-align-center {
  @include flex-align-center;
}

.flex-align-bottom-right {
  @include flex-align-bottom-right;
}

.flex-align-bottom-left {
  @include flex-align-bottom-left;
}

.flex-align-top-right {
  @include flex-align-top-right;
}

.flex-layout {
  @include flex-layout;
}

.l-media-grid {
  display: flex;
  // @include l-media-grid;
}

.flex-layout-grid {
  @include flex-layout-grid;
}

.flex-3-col {
  @include flex-3-col;
}

.flex-1-2-1 {
  // 540
  @media (min-width: $break-540) {
    > *:nth-child(odd) {
      width: 25%;
    }
    >*:nth-child(even) {
      //width: 50%;
    }
  }
}

.flex-50 {
  @include flex;
  @include flex-wrap;
  // 480
  @media (min-width: $break-375) {
    > * {
      margin-bottom: 2em;
      flex-basis: 50%;
    }
  }
  // // 640
  // @media (min-width: $break-640) {
  //   > * {
  //     //padding: .3em;
  //     flex-basis: 33%;
  //   }
  // }
}

.flex-25 {
  // 540
  @media (min-width: $break-540) {
    > * {
      padding: .3em;
      flex-basis: 25%;
    }
  }
}

// Flex Order

.flex-lead {
  @include flex-lead;
}

.flex-sm {
  @include flex-sm;
}
