// modifiers

.c-black {
  color: $black;
}

.c-white {
  color: $white;
}

.c-off-white {
  color: $off-white;
}

.c-grey-222 {
  color: $charcoal;
}

.c-grey-333 {
  color: $grey;
}

.c-grey-555 {
  color: $grey-555;
}

.c-grey-777 {
  color: $grey-555;
}

.c-grey-999 {
  color: $grey-999;
}

.c-blue {
  color: $blue;
}

.c-green {
  color: $green;
}

.c-orange {
  color: $orange;
}

.c-purple {
  color: $purple;
}

.c-rust {
  color: $rust;
}

.c-blue-rich {
  color: $blue-rich;
}

.c-yellow {
  color: $yellow;
}

.c-pink {
  color: $pink;
}