/* --- Main Content --- */

.main-content {
  &:last-child {
    padding-bottom: 0;  
  }	
}

// Page Layout
%page-content,
%page-sidebar {
	display: inline-block;
	width: 100%;
	&:last-child {
		margin-bottom: 0;
	}		
}

// Page Sidebar
%page-sidebar {
	background-color: #EEE;
	border-radius: 0.625rem;	
	padding: 0 0.75rem 1rem;	
	&:empty {
		display: none;	
	}
}

// Two Col
%two-col {
	.page-content {
		padding-bottom: 2rem;
	}
	// 800
	@media (min-width: 800px) {
		.container {
			display: flex;
		}
		.page-content {
			padding-right: 2rem;
			padding-bottom: 0;
			width: 64%;				
		}
		.page-sidebar {
			padding: 1rem;	
			width: 35%;	
		}	
	}
	// 992
	@media (min-width: $break-900) {
		.page-content {
			padding-bottom: 0;	
		}
	}	
}
