
\.DS_Store

*.zip

*.sketch

*.scssc

*.codekit

*.codekit3

_old-pages/

_headers

redesign-placeholder\.zip

_assets/

node_modules/

public/js/libs/

public/css/scss/

public/Eric-Thayer-Resume-Web-Designer-and-Front-end-Developer_MASTER.pdf
