<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

<head>
  <script>
    // Set "enhanced" class for JS detection
    document.documentElement.className += "enhanced";
  </script>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="theme-color" content="#FCFCFC">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>
  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }} 
  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
  <meta name="msapplication-TileColor" content="#222222">
  <meta name="msapplication-TileImage" content="{{ .Site.BaseURL }}images/icons/icon-144.png">
  <link rel="manifest" href="{{ .Site.BaseURL }}manifest.json">
  <!--[if IEMobile]><meta http-equiv="cleartype" content="on" /><![endif]-->
  <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}images/icons/icon-180.png">
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.ico">
  <!-- <link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css"> -->
  <link rel="preload" href="{{ .Site.BaseURL }}css/fonts/Knockout-HTF29-JuniorLiteweight-subset.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ .Site.BaseURL }}css/fonts/RobotoCondensed-Regular-subset.woff2" as="font" type="font/woff2" crossorigin>
  {{ $styleSCSS := resources.Get "css/styles.scss" }}
  {{ $styleCSS := $styleSCSS | resources.ToCSS (dict "targetPath" "styles.css" "enableSourceMap" false) }}
  {{ $styleAutoprefixed := $styleCSS | resources.PostCSS }}
  {{ $styleMinified := $styleAutoprefixed | resources.Minify }}
  {{ $style := resources.Get "css/styles.scss" | toCSS | postCSS | minify }}
  <link rel="preload" href="{{ $style.Permalink }}" as="style" onload="this.rel='stylesheet'">
</head>
