<!-- <div class="main-menu">   
  {{ partial "1_elements/site-title.html" . }}  
  <nav class="nav-main" role="navigation">
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
      <li class="{{if $currentPage.HasMenuCurrent "main" . }} active{{end}}"><a href="{{ .URL }}portfolio/">{{ .Pre }}<span>{{ .Name }}</span></a>
        <ul class="sub">
            {{ range .Children }}
            <li{{if $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}><a href="{{.URL}}"> {{ .Name }} </a> </li>
            {{ end }}
        </ul>
        {{else}}
        <li>
        <a href="{{.URL}}">
            {{ .Pre }}
            <span>{{ .Name }}</span>
        </a>
      {{end}}
      </li>
      {{end}}
    </ul>
  </nav>
</div> -->