// Media Queries

$break-240: 240px;

$break-240: 320px;

$break-375: 375px;
 
$break-480: 480px;

$break-540: 540px;

$break-640: 640px;

$break-768: 768px;

$break-800: 800px;

$break-900: 900px; 

$break-992: 992px;

$break-1200: 1200px; 

$break-1600: 1600px;

$break-2000: 2000px;

$break-2400: 2400px;

// Default Font Stacks

$sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$sans-serif-narrow: "Roboto Condensed", $sans-serif;

$serif: "Garamond", "Cambria", Georgia, serif;

$KO: "Knockout-29", $sans-serif-narrow;

$Roboto: "Roboto", $sans-serif-narrow;

// Colors

$light-tan: #DDDACC;

$med-green: #9CB2B0;

$link: #3392a8;

$orange-red: #e85853;

// Specific Helpers

$wht-text-shadow: 0 1px 0 rgba(white, 0.35);

$blk-text-shadow: 1px 1px 0 rgba(black, 0.15);

$blk-text-shadow-neg: 0 -1px 1px rgba(black, 0.25);