// Media Queries

$break-240: 15em; // 240px

$break-240: 20em; // 320px

$break-375: 23.438em; // 375px
 
$break-480: 30em; // 480px

$break-540: 33.75em; // > 540px

$break-640: 40em; // 640px

$break-768: 48em; // 768px

$break-800: 50em; // 800px

$break-900: 56.25em; // 900px 

$break-992: 62em; // 992px

$break-1200: 75em; // 1200px 

$break-1600: 100em; // 1600px

$break-2000: 125em; // 2000px

$break-2400: 150em; // 2400px

// Default Font Stacks

$sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$sans-serif-narrow: "Roboto Condensed", $sans-serif;

$serif: "Garamond", "Cambria", Georgia, serif;

$KO: "Knockout-29", $sans-serif-narrow;

$Roboto: "Roboto Condensed", $sans-serif-narrow;

// Colors

$light-tan: #DDDACC;

$med-green: #9CB2B0;

$link: #3392a8;

$orange-red: #e85853;

// Specific Helpers

$wht-text-shadow: 0 1px 0 rgba(white, 0.35);

$blk-text-shadow: 1px 1px 0 rgba(black, 0.15);

$blk-text-shadow-neg: 0 -1px 1px rgba(black, 0.25);