<figure class="flex-1 mr-ml-a mb-0 mw-56em" style="box-shadow: var(--shadow-1);">
  <div class="media-wrap video lazyload">
    <iframe class="lazyload" src="//player.vimeo.com/video/143960525" data-src="//player.vimeo.com/video/143960525" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <noscript>
    <div class="media-wrap video">
      <iframe class="lazyload" src="//player.vimeo.com/video/143960525" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </noscript>
</figure>