<!-- Work Examples -->
<div class="container-xl flex-layout">
  <!-- Onsite Support Figma Design Template -->
  <figure class="media-item spotlight">
    <a
      class="media-wrap img"
      href="https://www.figma.com/file/sVLBxIeqZxFLzCOxh0C8vw/onsite-support-landing-page-design-template-CURRENT?type=design&node-id=0%3A1&mode=design&t=vLqzkvIhhXlnsyue-1"
    >
      <img
        class="lazyload"
        src="images/content-img/portfolio/web/img-figma-design-template.webp"
        alt="Onsite Support Figma Design Template"
        loading="lazy"
      />
      <time class="time-stamp" datetime="2023">
        <span class="sr-only">Successfully delivered</span>2023</time
      >
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Figma Design Template</span>
      </figcaption>
    </a>
  </figure>
  <!-- Onsite Support QR Landing -->
  <figure class="media-item spotlight">
    <a
      class="media-wrap img"
      href="//qrlanding.netlify.app/"
    >
      <img
        class="lazyload"
        src="https://github.com/ericthayer/qr-landing/raw/main/media/qr-landing-demo-04.png"
        alt="Onsite Support QR Landing Page"
        loading="lazy"
      />
      <time class="time-stamp" datetime="2023">
        <span class="sr-only">Successfully delivered</span>2023</time
      >
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">QR Landing Page</span>
      </figcaption>
    </a>
  </figure>
  <!-- Unity UI -->
  <figure class="media-item">
    <a
      class="media-wrap img"
      href="https://www.notion.so/ethayer/2022-8f060b7375a34abdb9f23fce904f4522?pvs=4#489ac956de2c4be4a22a8ca6a66af99e"
    >
      <img
        class="lazyload"
        src="images/content-img/portfolio/vr/img-course-launcher-ui.webp"
        alt="Samples of some coded art done in CodePen."
        loading="lazy"
      />
      <time class="time-stamp" datetime="2023">
        <span class="sr-only">Successfully delivered</span>2023</time
      >
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Unity VR UI</span>
      </figcaption>
    </a>
  </figure>
  <!-- Health Scholars Component Library -->
  <figure class="media-item media-light">
    <a href="//hs-library.healthscholars.com/?path=/story/documentation-documentation-home--page" class="media-wrap img">
      <img
        class="lazyload"
        src="images/content-img/portfolio/web/img-hs-component-library.webp"
        alt="Health Scholars Vue Component Library"
        loading="lazy"
      />
      <time class="time-stamp" datetime="2023">
        <span class="sr-only">Successfully delivered</span>2023</time
      >
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Vue Component Library</span>
      </figcaption>
    </a>
</figure>
  <!-- NYT UI -->
  <figure class="media-item media-light">
    <a class="media-wrap web lazyload" href="//cdpn.io/pen/LYRMzdM">
      <iframe
        class="lazyload"
        src="//cdpn.io/pen/debug/LYRMzdM"
        src="//cdpn.io/pen/debug/LYRMzdM"
        width="100%"
        height="auto"
        frameborder="0"
        loading="lazy"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen
      ></iframe>
      <time class="time-stamp" datetime="2021">
        <span class="sr-only">Successfully delivered</span>2021</time
      >
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">NYT UI</span>
      </figcaption>
    </a>
  </figure>
  <!-- DMNS -->
  <figure class="media-item media-light">
    <a href="//dmns.netlify.app/" class="media-wrap img">
      <img
        class="lazyload"
        src="images/content-img/16x9/img-16x9-DMNS.webp"
        alt="Front-end development for the Denver Museum of Nature and Science"
        loading="lazy"
      />
      <time class="time-stamp" datetime="2018">
        <span class="sr-only">Successfully delivered</span>2018</time
      >
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Denver Museum of Nature and Science</span>
      </figcaption>
    </a>
  </figure>
  <!-- Tournament Kings -->
  <figure class="media-item media-light">
    <a class="media-wrap img" href="//codepen.io/ericthayer/pen/QRvKJa/">
      <img
        class="lazyload"
        src="images/content-img/16x9/img-16x9-TK.webp"
        alt="Landing page for an online gaming event app created with CodePen."
        loading="lazy"
      />
      <time class="time-stamp" datetime="2019">
        <span class="sr-only">Successfully delivered</span>2019</time
      >
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Tournament Kings</span>
      </figcaption>
    </a>
  </figure> 
  <!-- Swiss Ritual -->
  <!-- <figure class="media-item">
    <a class="media-wrap img" href="//codepen.io/collection/DRGMBP/">
      <img
        class="lazyload"
        src="images/content-img/16x9/img-16x9-SR-Future-Islands-LG.webp"
        alt="Samples of some coded art created with CodePen."
      />
      <time class="time-stamp" datetime="2017">
        <span class="sr-only">Successfully delivered</span>2017</time
      >
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Swiss Ritual</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item">
        <a href="//codepen.io/collection/DRGMBP/">
          <img
            src="images/content-img/16x9/img-16x9-SR-Future-Islands-LG.webp"
            alt="Samples of some coded art created with CodePen."
          />
          <time class="time-stamp" datetime="2017">
            <span class="sr-only">Successfully delivered</span>2017</time
          >
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">Swiss Ritual</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure> -->
  <!-- SubList -->
  <figure class="media-item media-light">
    <a class="media-wrap img" href="https://xd.adobe.com/view/f6018739-abfe-4c02-9fd3-aa9cfd99a9f8-a352/">
      <img
        class="lazyload"
        src="images/content-img/16x9/img-16x9-SubList-XD.webp"
        alt="Prototype for a sub-contractor app created with Adobe XD."
        loading="lazy"
      />
      <time class="time-stamp" datetime="2017">
        <span class="sr-only">Successfully delivered</span>2017</time
      >
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">SubList Prototype</span>
      </figcaption>
    </a>
  </figure>
  <!-- Style Guides (DMNS, SimCore, StoryBook) -->
  <!-- <figure class="media-item media-light">
    <a
      data-fslightbox
      class="media-wrap img"
      href="images/content-img/16x9/img-16x9-simcore-styleguide-01.webp"
    >
      <img
        class="lazyload"
        src="images/content-img/16x9/img-16x9-simcore-styleguide-01.webp"
        alt="Samples of some coded art done in CodePen."
      />
      <time class="time-stamp" datetime="2017">
        <span class="sr-only">Successfully delivered</span>2017</time
      >
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Style Guides</span>
      </figcaption>
    </a>
  </figure> -->
   <!-- Merchants -->
   <figure class="media-item media-light">
    <a
      data-fslightbox
      class="media-wrap portfolio lazyload"
      href="images/content-img/portfolio/web/img-portfolio-merchants-home-1.0.webp"
    >
      <img
        class="lazyload"
        src="images/content-img/portfolio/web/img-portfolio-merchants-home-1.0.webp"
        alt="Web design created with Sketch for a long-time Denver furniture company."
        loading="lazy"
      />
      <time class="time-stamp" datetime="2020">
        <span class="sr-only">Successfully delivered</span>2020</time
      >
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Merchants</span>
      </figcaption>
    </a>
  </figure>
  <!-- Curiteva -->
  <figure class="media-item media-light">
    <a
      data-fslightbox
      class="media-wrap portfolio"
      href="images/content-img/portfolio/web/img-portfolio-curiteva-home-v1.4.webp"
    >
      <img
        class="lazyload"
        src="images/content-img/portfolio/web/img-portfolio-curiteva-home-v1.4.webp"
        alt="Samples of some coded art done in CodePen."
        loading="lazy"
      />
      <time class="time-stamp" datetime="2020">
        <span class="sr-only">Successfully delivered</span>2020</time
      >
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Curiteva</span>
      </figcaption>
    </a>   
  </figure>
</div>
