<figure class="media-item {{ .Params.mediaStyle }}">
  <a href="{{ .Params.mediaURL }}" class="media-wrap {{ .Params.mediaType }}">
    <img class="lazyload" data-src="images/content-img/16x9/img-16x9-DMNS.webp{{ .Params.mediaURL }}" alt="{{ .Params.mediaAltText }}Front-end development for the Denver Museum of Nature and Science">
    <time class="time-stamp" datetime="2018">
      <span class="sr-only">Successfully delivered</span>2018</time>
    <figcaption class="media-caption" aria-hidden="true">
      <span class="project-title">Denver Museum of Nature and Science</span>
    </figcaption>
  </a>
  <noscript>
    <figure class="media-item">
      <a href="//dmns.netlify.app/">
        <img src="images/content-img/16x9/img-16x9-DMNS.webp" alt="Front-end development for the Denver Museum of Nature and Science">
        <time class="time-stamp" datetime="2018">
          <span class="sr-only">Successfully delivered</span>2018</time>
        <figcaption class="media-caption" aria-hidden="true">
          <span class="project-title">Denver Museum of Nature and Science</span>
        </figcaption>
      </a>
    </figure>
  </noscript>
</figure>