<figure class="media-item media-light spotlight">
  <div class="media-wrap web lazyload">
    <iframe class="lazyload" src="//cdpn.io/pen/debug/LYRMzdM" data-src="//cdpn.io/pen/debug/LYRMzdM" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <noscript>
    <div class="media-wrap web">
      <iframe class="lazyload" src="//cdpn.io/pen/debug/LYRMzdM" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </noscript>
</figure>