<!-- Work Examples -->
<div class="container-xl flex-layout">
  <!-- DMNS -->
  <figure class="media-item media-light spotlight">
    <a href="//dmns.netlify.app/" class="media-wrap img">
      <img class="lazyload" data-src="images/content-img/16x9/img-16x9-DMNS.webp" data-srcset="images/content-img/16x9/img-16x9-DMNS.webp 480w, images/content-img/16x9/img-16x9-DMNS.webp 900w" alt="Front-end development for the Denver Museum of Nature and Science">
      <time class="time-stamp" datetime="2018">
        <span class="sr-only">Successfully delivered</span>2018</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Denver Museum of Nature and Science</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item">
        <a href="//dmns.netlify.app/">
          <img src="images/content-img/16x9/img-16x9-DMNS.webp" alt="Front-end development for the Denver Museum of Nature and Science">
          <time class="time-stamp" datetime="2018">
            <span class="sr-only">Successfully delivered</span>2018</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">Denver Museum of Nature and Science</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure>
  <!-- Tournament Kings -->
  <figure class="media-item media-light spotlight">
    <a class="media-wrap img" href="//codepen.io/ericthayer/pen/QRvKJa/">
      <img class="lazyload" data-src="images/content-img/16x9/img-16x9-TK.webp" alt="Landing page for an online gaming event app created with CodePen.">
      <time class="time-stamp" datetime="2019">
        <span class="sr-only">Successfully delivered</span>2019</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Tournament Kings</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item">
        <a href="//codepen.io/ericthayer/pen/QRvKJa/">
          <img src="images/content-img/16x9/img-16x9-TK.webp" alt="Landing page for an online gaming event app created with CodePen. ">
          <time class="time-stamp" datetime="2019">
            <span class="sr-only">Successfully delivered</span>2019</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">Tournament Kings</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure>
  <!-- Merchants -->
  <figure class="media-item media-light">
    <a class="media-wrap portfolio lazyload" href="/merchants">
      <img class="lazyload" data-src="images/content-img/portfolio/web/img-portfolio-merchants-home-1.0.webp" alt="Web design created with Sketch for a long-time Denver furniture company.">
      <time class="time-stamp" datetime="2020">
        <span class="sr-only">Successfully delivered</span>2020</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Merchants</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item media-light">
        <a href="/mockups/merchants-office-furniture/">
          <img src="images/content-img/portfolio/web/img-portfolio-merchants-home-1.0.webp" alt="Web design created with Sketch for a long-time Denver furniture company.">
          <time class="time-stamp" datetime="2020">
            <span class="sr-only">Successfully delivered</span>2020</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">Merchants</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure>
  <!-- Swiss Ritual -->
  <figure class="media-item">
    <a class="media-wrap img" href="//codepen.io/collection/DRGMBP/">
      <img class="lazyload" data-src="images/content-img/16x9/img-16x9-SR-Future-Islands-LG.webp" alt="Samples of some coded art created with CodePen.">
      <time class="time-stamp" datetime="2017">
        <span class="sr-only">Successfully delivered</span>2017</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Swiss Ritual</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item">
        <a href="//codepen.io/collection/DRGMBP/">
          <img src="images/content-img/16x9/img-16x9-SR-Future-Islands-LG.webp" alt="Samples of some coded art created with CodePen.">
          <time class="time-stamp" datetime="2017">
            <span class="sr-only">Successfully delivered</span>2017</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">Swiss Ritual</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure>
  <!-- SubList -->
  <figure class="media-item media-light">
    <a class="media-wrap img" href="/prototypes/">
      <img class="lazyload" data-src="images/content-img/16x9/img-16x9-SubList-XD.webp" alt="Prototype for a sub-contractor app created with Adobe XD.">
      <time class="time-stamp" datetime="2017">
        <span class="sr-only">Successfully delivered</span>2017</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">SubList Prototype</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item media-light">
        <a href="/prototypes/">
          <img src="images/content-img/16x9/img-16x9-SubList-XD.webp" alt="Prototype for a sub-contractor app created with Adobe XD.">
          <time class="time-stamp" datetime="2017">
            <span class="sr-only">Successfully delivered</span>2017</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">SubList Prototype</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure>
  <!-- Phoenix IT -->
  <!-- <figure class="media-item media-light">
    <a data-fslightbox class="media-wrap img" href="images/content-img/portfolio/web/img-portfolio-curiteva-home-v1.4.webp">
      <img class="lazyload" data-src="images/content-img/16x9/img-16x9-phoenix-it-01.webp"
        alt="Samples of some coded art done in CodePen.">
      <time class="time-stamp" datetime="2017">
        <span class="sr-only">Successfully delivered</span>2017</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Phoenix IT</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item media-light">
        <a href="images/content-img/16x9/img-16x9-phoenix-it-01.webp">
          <img src="images/content-img/16x9/img-16x9-phoenix-it-01.webp" alt="Samples of some coded art done in CodePen.">
          <time class="time-stamp" datetime="2017">
            <span class="sr-only">Successfully delivered</span>2017</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">Phoenix IT</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure> -->
  <!-- Style Guides (DMNS, SimCore, StoryBook) -->
  <figure class="media-item media-light">
    <a data-fslightbox class="media-wrap img" href="images/content-img/16x9/img-16x9-simcore-styleguide-01.webp">
      <img class="lazyload" data-src="images/content-img/16x9/img-16x9-simcore-styleguide-01.webp" alt="Samples of some coded art done in CodePen.">
      <time class="time-stamp" datetime="2017">
        <span class="sr-only">Successfully delivered</span>2017</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Style Guides</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item media-light">
        <a href="images/content-img/16x9/img-16x9-simcore-styleguide-01.webp">
          <img src="images/content-img/16x9/img-16x9-simcore-styleguide-01.webp" alt="Samples of some coded art done in CodePen.">
          <time class="time-stamp" datetime="2017">
            <span class="sr-only">Successfully delivered</span>2017</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">Style Guides</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure>
  <!-- The 104 Initiative logo -->
  <figure class="media-item">
    <a data-fslightbox class="media-wrap img" href="images/content-img/16x9/img-16x9-104v2-logo-XL.webp">
      <img class="lazyload" data-src="images/content-img/16x9/img-16x9-104v2-logo-XL.webp" alt="The 104 Initiative logo redesign">
      <time class="time-stamp" datetime="2016">
        <span class="sr-only">Successfully delivered</span>2016</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">The 104 Intiative</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item">
        <a href="#0">
          <img src="images/content-img/16x9/img-16x9-104v2-logo-XL.webp" alt="The 104 Initiative logo redesign">
          <time class="time-stamp" datetime="2016">
            <span class="sr-only">Successfully delivered</span>2016</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">The 104 Intiative</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure>
  <!-- NYT UI -->
  <figure class="media-item media-light">
    <a class="media-wrap web lazyload" href="//cdpn.io/pen/LYRMzdM">
      <iframe class="lazyload" src="//cdpn.io/pen/debug/LYRMzdM" data-src="//cdpn.io/pen/debug/LYRMzdM" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <time class="time-stamp" datetime="2021">
        <span class="sr-only">Successfully delivered</span>2021</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">NYT UI</span>
      </figcaption>
    </a>
    <noscript>
      <a class="media-wrap web" href="//cdpn.io/pen/LYRMzdM">
        <iframe class="lazyload" src="//cdpn.io/pen/debug/LYRMzdM" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <time class="time-stamp" datetime="2021">
          <span class="sr-only">Successfully delivered</span>2021</time>
        <figcaption class="media-caption" aria-hidden="true">
          <span class="project-title">NYT UI</span>
        </figcaption>
      </a>
    </noscript>
  </figure>
  <!-- Unity UI -->
  <figure class="media-item">
    <a data-fslightbox class="media-wrap img" href="images/content-img/16x9/img-16x9-Unity-UI-01.webp">
      <img class="lazyload" data-src="images/content-img/16x9/img-16x9-Unity-UI-01.webp" alt="Samples of some coded art done in CodePen.">
      <time class="time-stamp" datetime="2017">
        <span class="sr-only">Successfully delivered</span>2017</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Unity UI</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item">
        <a href="images/content-img/16x9/img-16x9-Unity-UI-01.webp">
          <img src="images/content-img/16x9/img-16x9-Unity-UI-01.webp" alt="Samples of some coded art done in CodePen.">
          <time class="time-stamp" datetime="2017">
            <span class="sr-only">Successfully delivered</span>2017</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">Unity UI</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure>
  <!-- NYT UI -->
  <figure class="media-item media-light">
    <a class="media-wrap web lazyload" href="//cdpn.io/pen/LYRMzdM">
      <iframe class="lazyload" src="//cdpn.io/pen/debug/LYRMzdM" data-src="//cdpn.io/pen/debug/LYRMzdM" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <time class="time-stamp" datetime="2021">
        <span class="sr-only">Successfully delivered</span>2021</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">NYT UI</span>
      </figcaption>
    </a>
    <noscript>
      <a class="media-wrap web" href="//cdpn.io/pen/LYRMzdM">
        <iframe class="lazyload" src="//cdpn.io/pen/debug/LYRMzdM" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <time class="time-stamp" datetime="2021">
          <span class="sr-only">Successfully delivered</span>2021</time>
        <figcaption class="media-caption" aria-hidden="true">
          <span class="project-title">NYT UI</span>
        </figcaption>
      </a>
    </noscript>
  </figure>
  <!-- Curiteva -->
  <figure class="media-item media-light">
    <a data-fslightbox class="media-wrap portfolio" href="images/content-img/portfolio/web/img-portfolio-curiteva-home-v1.4.webp">
      <img class="lazyload" data-src="images/content-img/portfolio/web/img-portfolio-curiteva-home-v1.4.webp" alt="Samples of some coded art done in CodePen.">
      <time class="time-stamp" datetime="2020">
        <span class="sr-only">Successfully delivered</span>2020</time>
      <figcaption class="media-caption" aria-hidden="true">
        <span class="project-title">Curiteva</span>
      </figcaption>
    </a>
    <noscript>
      <figure class="media-item">
        <a href="images/content-img/portfolio/web/img-portfolio-curiteva-home-v1.4.webp">
          <img src="images/content-img/portfolio/web/img-portfolio-curiteva-home-v1.4.webp" alt="Samples of some coded art done in CodePen.">
          <time class="time-stamp" datetime="2020">
            <span class="sr-only">Successfully delivered</span>2020</time>
          <figcaption class="media-caption" aria-hidden="true">
            <span class="project-title">Curiteva</span>
          </figcaption>
        </a>
      </figure>
    </noscript>
  </figure>
</div>