<!-- Media Item (redesign demo video) -->
<figure class="media-wrap video mb-2 lazyload">
  <iframe class="lazyload card" width="100%" title="Time-lapse design of ethayer.design v2.0" src="//www.youtube.com/embed/ZqlVjv8DlYI" data-src="//www.youtube.com/embed/ZqlVjv8DlYI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>
  <noscript>
    <figure class="media-wrap video mb-2">
      <iframe width="100%" title="Time-lapse design of ethayer.design v2.0" src="//www.youtube.com/embed/ZqlVjv8DlYI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>
    </figure>
  </noscript>
</figure>
