<figure class="flex-1 mr-ml-a mb-0 mw-56em" style="box-shadow: var(--shadow-1);">
  <div class="media-wrap video lazyload">
    <iframe class="lazyload" src="//youtu.be/VGTY7bCSTx8" data-src="//youtu.be/VGTY7bCSTx8" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  
  </div>
  <noscript>
    <div class="media-wrap video">
      <iframe class="lazyload" src="//youtu.be/VGTY7bCSTx8" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </noscript>
</figure>