<nav class="nav-icons" role="navigation">
  <ul aria-label="contact-nav">
    <li class="has-tooltip">
      <a class="icon-link" href="#0">
        <svg class="icon">
          <use xlink:href="#icon-adobe-xd" />
        </svg><span class="sr-only">Made with Adobe XD</span>
        <span class="icon-tooltip flush-l">Adobe XD</span>
      </a>
    </li>
    <li class="has-tooltip">
      <a class="icon-link" href="#0">
        <svg class="icon mr-0">
          <use xlink:href="#icon-sketch" />
        </svg><span class="sr-only">Made with Sketch</span>
        <span class="icon-tooltip">Sketch</span>
      </a>
    </li>
    <li class="has-tooltip">
      <a class="icon-link" href="#0">
        <svg class="icon mr-0">
          <use xlink:href="#icon-vuejs" />
        </svg><span class="sr-only">Made with Vue.js</span>
        <span class="icon-tooltip">Vue</span>
      </a>
    </li>
    <li class="has-tooltip">
      <a class="icon-link" href="//codepen.io/ericthayer/">
        <svg class="icon mr-0">
          <use xlink:href="#icon-codepen" />
        </svg><span class="sr-only">Made with CodePen</span>
        <span class="icon-tooltip">CodePen</span>
      </a>
    </li>
    <li class="has-tooltip">
      <a class="icon-link" href="#0">
        <svg class="icon mr-0">
          <use xlink:href="#icon-unity" />
        </svg><span class="sr-only">Made with Unity 3D</span>
        <span class="icon-tooltip">Unity</span>
      </a>
    </li>
  </ul>
</nav>