// .home {
//   @include bg-green;
//   .site-header, .banner {
//     @include bg-white;
//   }
// }

// .portfolio {
//   @include bg-red-pink;
//   .site-header, .banner {
//     @include bg-white;
//   }
// }

.prototypes {
  // @include bg-red-pink;
  background: url("../../../images/content-img/16x9/img-16x9-XD-wire1-XL.jpg"), linear-gradient(-112deg, rgb(74, 190, 223), rgb(102, 51, 153)), no-repeat; 
}

.banner {
  //@include banner;
}

.banner-headline {
  @include fade-in;
  text-shadow: .125rem .125rem .05rem rgba(black, .25);

  .container {
    max-width: 100%;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1;

    abbr[title] {
      text-decoration: none;
    }
  }

  .subtitle {

    a {
      background-image: none;
      background-color: rgba(black, .25);
      line-height: 2.5rem;
      padding-right: .25em;
      padding-left: .25em;
      text-decoration: none;
      text-shadow: none;
    }
  }

  @media (min-width: $break-540) {
    .fonts-loaded & {
      h1 {
        font-size: calc(1vw + 3.875em);
      }
    }
  }

  @media (min-width: 44em) {

    .fonts-loaded & {
      h1 {
        font-size: calc(1vw + 4.25em);
      }
    }
  }
}
