// Card styles

.card {
  padding: 1em 1.75em;
  position: relative;
  text-align: center;  
  &:first-child {
    .media-item {
      max-width: 5em;
    }
  }
  .media-item {
    margin-right: auto;
    margin-left: auto;
    max-width: 8em;
  }
  .title {
    margin-bottom: .25rem;
  }
  .icon {
    fill: $link;
  }
}