// Card styles

.card {
  padding: 1rem 1.75rem;
  position: relative;
  text-align: center;  
  &:first-child {
    .media-item {
      max-width: 5rem;
    }
  }
  .media-item {
    margin-right: auto;
    margin-left: auto;
    max-width: 8rem;
  }
  .title {
    margin-bottom: .25rem;
  }
  .icon {
    fill: $link;
  }
}