.contact-nav {
  @include flex-grow-1;
}

// icon nav
.nav-icons {
  @include mb-0;
  h2 {
    margin-bottom: .75rem;
  }
  a {
    margin: 0;
  }
  ul {
    @include flex;
    @include flex-grow-1;
    @include ai-center;
    @include jc-around;
    @include mb-0;
  }
  li {
    @include mr-1; 
    &:last-child {
      margin-right: 0;
    }
  }
  .icon {
    margin-left: 0;
    margin-right: 0;
  }
  .icon-mobile {
    font-size: 1.35rem;
  }
  a:hover .icon,
  a:focus .icon {
    fill: hotpink;
    transform: scale(1.3);
  }
  // 480
  @media (min-width: $break-480) {
    h2 {
      margin-bottom: 0;
    }
    li {
      margin-bottom: 0;
    }
  }
  // < 240
  @media (max-width: 15em) {
    ul {
      @include flex-wrap;
      @include jc-center;
    }
    li {
      margin: .25rem .5rem;
      &:last-child {
        margin-right: .5rem;
        margin-bottom: .5rem;
      }
    }
  }
  // > 645
  @media (max-width: 40.313em) {
    .flush-l {
      left: calc(50% - 2.5rem);
      &::before {
        left: calc(50% - 8px);       
      }
    }
  }
  // > 645
  @media (min-width: 40.313em) {
    ul {
      justify-content: flex-start;
    }
  }
}