// Process Home
// Process Steps
#process-steps {
  .iframe {
    iframe {
      box-shadow: 0 0 2rem 0 rgba(black, .35);
      padding: 0;
    }
  }
}

.process-steps {
  .media-item {
    max-width: 6rem;
  }
  text-align: center;
  // > 320
  @media (min-width: $break-240) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
  }
  // > 900
  @media (min-width: $break-900) {
    .step {
      padding: 2rem 1.75rem;
    }
  }
}

.step {
  // @include counter-item;
  min-width: 11rem;
  max-width: 13rem;
}