// Process Home
// Process Steps
#process-steps {
  .iframe {
    iframe {
      box-shadow: 0 0 2em 0 rgba(black, .35);
      padding: 0;
    }
  }
}

.process-steps {
  .media-item {
    max-width: 6em;
  }
  text-align: center;
  // > 320
  @media (min-width: $break-240) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1em;
    margin-left: -1em;
  }
  // > 900
  @media (min-width: $break-900) {
    .step {
      padding: 2em 1.75em;
    }
  }
}

.step {
  @include counter-item;
  min-width: 11em;
  max-width: 13em;
}