{{ partial "3_modules/headers/home-header.html" . }}

<!-- Main -->
<main id="main" class="main-content" role="main">

  <!-- {{ partial "2_components/headlines/headline-home.html" . }} -->
  
  {{ partial "3_modules/project-samples.html" . }}  
  
  <!-- {{ partial "3_modules/process-section.html" . }} -->
  
  {{ partial "3_modules/bio-section.html" . }}
  
  {{ partial "3_modules/contact-form-banner.html" . }}

  {{ .Content }}

</main>

{{ partial "4_templates/footer.html" . }}

{{ partial "scripts/smooth-scroll-js.html" . }}
