// Base

@mixin button-hov-dark {
  //transition: background .4s ease,
              //color .4s ease;
  &:hover,
  &:focus,
  &.active {
    background: #555;
    box-shadow: none;
    color: #eee;
    outline: inset 1px transparent;
    .icon {
      fill: #eee;
    }
  }
}

@mixin button-hov-light {
  transition: background .4s ease,
              color .4s ease;
  &:hover,
  &:focus,
  &.active {
    background: #ccc;
    box-shadow: none;
    color: #333;
    outline: inset 1px transparent;
  }
}