{{ $global := resources.Get "js/script.js" }}
{{ $lazyload := resources.Get "js/libs/lazysizes.js" }}
<!-- {{ $glider := resources.Get "js/libs/glider.min.js" }} -->
{{ $fsLightbox := resources.Get "js/libs/fslightbox.min.js" }} 
{{ $js := slice $global $lazyload $fsLightbox | resources.Concat "js/min/script.js" | resources.Minify }}

<script src='{{ $js.Permalink }}' defer></script>

<script defer>
  var html = document.documentElement;

  if (sessionStorage.fontsLoaded) {
    html.classList.add("fonts-loaded");
  } else {
    var script = document.createElement("script");
    script.src = "{{ .Site.BaseURL }}js/libs/fontfaceobserver.js";
    script.async = true;

    script.onload = function() {
      var KO94 = new FontFaceObserver("Knockout-29");
      var Roboto = new FontFaceObserver("Roboto Condensed", {});

      Promise.all([KO94.load(), Roboto.load()]).then(function() {
        html.classList.add("fonts-loaded");
        sessionStorage.fontsLoaded = true;
      });
    };
    document.head.appendChild(script);
  }
</script>