<section id="articleHero" class="section narrow">
  <div class="article-hero">
    <header class="article-header">
      {{ if .Params.Title }}
      <h1 class="article-hero-heading">{{ .Page.Params.Title }}</h1>

      {{ else if .Params.hero.heading }}
      <h1 class="hero-heading">{{ .Page.Params.hero.heading | safeHTML }}</h1>

      {{ end }}
    </header>
    {{ with .Params.hero }}
    <div class="article-hero-image" id="ArticleImage__Hero">
      {{ if .Params.hero . }}
        <img src="{{ . }}">
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>