// CSS Grid Layout

@mixin grid-set {
  @include flex;
  @include flex-wrap;
  //@include pb-2;
  //@include mw-100p;
  
  > * {
    @include flex-grow-1;
    @include p-1;
    flex-basis: 15em;
  }
  @supports (grid-gap: 0) {
    display: grid;
    grid-gap: 2em;

    > * {
      @include m-0;
      @include p-0;
    }

    @media (min-width: $break-640) {
      grid-template-columns: repeat(auto-fit, minmax(10.5em, 1fr));
    }
  }

}

@mixin grid-2-col {
  @include grid-set;

  @supports (grid-gap: 0) {

    @media (min-width: $break-640) {
      grid-gap: 2em 3em;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@mixin grid-lg {
  @include grid-2-col;

  @media (min-width: $break-640) {
    grid-gap: 5em 0;
    grid-template-columns: 1fr;
  }

  @media (min-width: $break-768) {
    grid-gap: 0 5em;
    grid-template-columns: 1fr 1fr;
  }
}

@mixin grid-4-col {
  @include grid-set;

  @supports (grid-gap: 0) {
    grid-template-columns: repeat(auto-fit, minmax(16.5em, 1fr));
    grid-gap: 2em;
    // 2 cols @ 900 ~ 1360
    @media (min-width: 60em) and (max-width: 85em) {
      grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    }
  }
}

@mixin grid-banner {

  @media (max-width: $break-900) {

    > .container {
      @include p-2;
    }
  }
  @media (min-width: $break-900) {

    .grid-wrap {
      @include grid-set;
      grid-template-rows: minmax(50vh, 1fr);

      > * {
        display: flex;
      }
    }
  }
}

@mixin grid-gap-0 {

  @supports (grid-gap: 0) {
    grid-gap: 0 !important;
  }
}

.about-me {
  display: grid;
  grid-gap: 4rem;

  .info-block-about {
    // grid-column: 1 / 1;
    // grid-row: 2 / 2;
  }

  .info-block-skills {

    // grid-column: 1 / 1;
    // grid-row: 4 / 4;
  }

  @media (min-width: 46em) {
    grid-template-columns: 2fr 1fr;
    //grid-template-rows: auto 1fr auto;

    .info-block-about {
      p {
        font-size: 1.45em;
        max-width: 80ch;
      }
    }

    .info-block-skills {
      justify-self: center;
      // grid-column: 3 / 3;
      // grid-row: 2 / 2;
    }
  }
}

.grid-set {
  @include grid-set;
}

.grid-2-col {
  @include grid-2-col;
}

.grid-4-col {
  @include grid-4-col;
}

.grid-lg {
  @include grid-lg;
}

.grid-banner {
  @include grid-banner;
}

.grid-flush {
  @include grid-gap-0;
}
