/************************FOOTER************************/
.footer-content {
  container-type: inline-size;
}

.footer-container {
  align-items: center;
  color: var(--grey);
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75rem;
  justify-content: space-between;
  padding-bottom: 5rem;
  position: relative;
}

.footer-hr {
  border-bottom: 1px solid var(--horizontalRule);
  margin: 5rem auto 3rem;
  position: relative;
}

.footer-text {
  display: flex;
}

.footer-info {
  display: flex;
  justify-content: center;
  flex: 1 1 100%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
  margin-left: auto;
}

.footer-gradient {
  background: var(--gradient);
  bottom: 0;
  height: 590px;
  left: 0;
  mix-blend-mode: lighten;
  pointer-events: none;
  position: absolute;
  transition: var(--color-mode-transition);
  width: 100%;
  z-index: 0;
}

/*TABLET*/
@media screen and (max-width: 735px) {
  .frame {
    left: -15px;
  }
}

/*PHABLET*/
@media screen and (max-width: 540px) {
  .nav-controls {
    right: -5px;
  }  
}

@container (min-width: 700px) {
  .footer-container {
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
  }

  .footer-info {
    flex: 0 1 auto;
    margin-top: 0;
    margin-right: 0;
  }

  .footer-links {
    flex-basis: 80%;
    justify-content: center;
    flex-grow: 1;
    margin-right: auto;
  }
}

/************************HEADER************************/
.back-arrow-ico-container {
  animation: fadein 0.3s linear forwards;
  opacity: 0;
  padding-right: 30px;
  transition: 0.2s transform var(--ease-out-quad),
    0.2s -webkit-transform var(--ease-out-quad);
}

@-webkit-keyframes fadein {
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}

/*DESKTOP MEDIUM*/
@media screen and (max-width: 1280px) {
  .logo-link {
    left: 0;
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  position: relative;
  z-index: 100;
}

@media screen and (max-height: 800px) {
  .nav-container {
    padding-top: 50px;
  }
}

/*DESKTOP MEDIUM*/
.logo-link {
  align-items: center;
  display: flex;
  position: relative;
}

.logo-link[class*="data-ally"]:focus::after {
  background: rgba(255, 255, 255, 0.01);
  border: 2px solid var(--accent);
  border-radius: 5px;
  content: "";
  height: 160%;
  left: -10%;
  position: absolute;
  top: -30%;
  width: 120%;
}

.logo-link[class*="back-arrow-ico-container"] {
  transform: translateX(-3px);
}

.logo-link:hover {
  text-decoration: none;
}

/*DESKTOP MEDIUM*/
.nav-controls {
  align-items: center;
  display: flex;
  position: relative;
}

/*PHABLET*/
.tool-tip {
  animation-duration: 2s;
  background-color: var(--tooltip);
  border-radius: 5px;
  color: var(--primary);
  font-size: 14px;
  opacity: 0;
  padding: 4px 13px;
  position: absolute;
  top: -35px;
  transform: translateY(6px);
}

.nav-link {
  font-family: var(--headline);
  font-size: var(--size-2);
  text-transform: uppercase;
}

.mode-button {
  transform: scale(0.85);
}

@-webkit-keyframes pan-toolbar {
  0% {
    opacity: 0;
    transform: translateY(6px);
  }

  30% {
    opacity: 1;
    transform: translateY(0);
  }

  70% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(6px);
  }
}

@keyframes pan-toolbar {
  0% {
    opacity: 0;
    transform: translateY(6px);
  }

  30% {
    opacity: 1;
    transform: translateY(0);
  }

  70% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(6px);
  }
}

.icon-wrapper {
  align-items: center;
  border-radius: 5px;
  display: flex;
  height: 25px;
  justify-content: center;
  margin-left: 30px;
  opacity: 0.5;
  position: relative;
  transition: opacity 0.3s ease;
  width: 40px;
}

.icon-wrapper:hover {
  opacity: 1;
}

.icon-wrapper[class*="data-ally"]:focus::after {
  background: rgba(255, 255, 255, 0.01);
  border: 2px solid var(--accent);
  border-radius: 5px;
  content: "";
  height: 160%;
  left: 0;
  position: absolute;
  top: -30%;
  width: 100%;
}

/*TABLET*/
.sun-rays {
  background: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 50%;
  box-shadow: 0 -23px 0 var(--primary), 0 23px 0 var(--primary),
    23px 0 0 var(--primary), -23px 0 0 var(--primary),
    15px 15px 0 var(--primary), -15px 15px 0 var(--primary),
    15px -15px 0 var(--primary), -15px -15px 0 var(--primary);
  height: 9px;
  overflow: hidden;
  position: relative;
  right: -16px;
  transform: scale(0.6);
  transition: all 0.45s ease;
  width: 9px;
}

.moon-or-sun {
  background: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 50%;
  height: 24px;
  overflow: hidden;
  position: relative;
  transform: 1;
  transition: all 0.45s ease;
  width: 24px;
}

.moon-mask {
  background: var(--background-color);
  border: 0;
  border-radius: 50%;
  height: 24px;
  opacity: 1;
  position: absolute;
  right: -1px;
  top: -8px;
  transform: translate("0, 0");
  transition: transform 0.45s ease, var(--color-mode-transition),
    -webkit-transform 0.45s ease;
  width: 24px;
}

.mask-to-sun-animation {
  animation-duration: 0.4s;
  animation-name: mask-to-sun;
}

.mask-to-moon-animation {
  animation-duration: 0.4s;
  animation-name: mask-to-moon;
}

.to-sun-animation {
  animation-duration: 0.4s;
  animation-name: to-sun;
}

.to-moon-animation {
  animation-duration: 0.4s;
  animation-name: to-moon;
}

.expand-rays {
  animation-duration: 0.5s;
  animation-name: expand-rays;
}

.contract-rays {
  animation-duration: 0.5s;
  animation-name: contract-rays;
}

@-webkit-keyframes mask-to-sun {
  from {
    
    right: -5px;
    top: -8px;
    transform: scale(1);
  }

  to {
    
    right: -15px;
    top: -25px;
    transform: scale(0.5);
  }
}

@keyframes mask-to-sun {
  from {
    
    right: -5px;
    top: -8px;
    transform: scale(1);
  }

  to {
    
    right: -15px;
    top: -25px;
    transform: scale(0.5);
  }
}

@-webkit-keyframes mask-to-moon {
  from {
    right: -15px;
    top: -25px;
    transform: scale(0.5);
  }

  to {
    right: -5px;
    top: -8px;
    transform: scale(1);
  }
}

@keyframes mask-to-moon {
  from {
    right: -15px;
    top: -25px;
    transform: scale(0.5);
  }

  to {
    right: -5px;
    top: -8px;
    transform: scale(1);
  }
}

@-webkit-keyframes to-sun {
  from {
    
    transform: scale(1);
  }

  to {
    
    transform: scale(0.5);
  }
}

@keyframes to-sun {
  from {
    
    transform: scale(1);
  }

  to {
    
    transform: scale(0.5);
  }
}

@-webkit-keyframes to-moon {
  from {
    
    transform: scale(0.5);
  }

  to {
    
    transform: scale(1);
  }
}

@keyframes to-moon {
  from {
    
    transform: scale(0.5);
  }

  to {
    
    transform: scale(1);
  }
}

@-webkit-keyframes expand-rays {
  from {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }

  to {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
}

@keyframes expand-rays {
  from {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }

  to {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
}

@-webkit-keyframes contract-rays {
  from {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }

  to {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
}

@keyframes contract-rays {
  from {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }

  to {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
}

.header-hidden {
  display: inline-block;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  width: 0px;
}

/************************HEADER************************/
.page-button {
  color: var(--primary);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.page-button:hover,
.page-button:focus {
  opacity: 1;
  text-decoration: underline;
}

.page-number-button {
  color: var(--primary);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.page-number-button:hover,
.page-number-button:focus {
  text-decoration: underline;
}

.spacer {
  opacity: 0.3;
}

.spacer::before {
  content: "...";
}

.mobiler-reference {
  color: var(--primary);
  font-weight: 400;
}

.mobile-reference em {
  color: var(--primary);
  font-style: normal;
}

.frame {
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

/*TABLET*/