.pagination {
  display: flex;
  margin-top: 95px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  justify-content: center;
  z-index: 100;

  &:hover {
    cursor: pointer;
  }

  a:hover {
    color: var(--primary);
  }

  .page-item {
    display: block;
    width: auto;
    height: auto;
    padding: 0;
    text-align: center;

    .page-link {
      display: block;
      color: var(--grey);
      min-width: 6rem;
    }

    .page-next,
    .page-prev {
      color: var(--primary);
    }

    &::before {
      display: none;
    }
  }

  .active {
    .page-link {
      color: var(--primary);
    }
  }
}
