/*BREAKPOINTS*/
$phone_small: 320px;
$phone: 376px;
$phablet: 540px;
$tablet: 735px;
$desktop: 1070px;
$desktop_medium: 1280px;
$desktop_large: 1440px;

:where(html) {
  /*FONTS*/
  --serif: "Ultra", Georgia, Serif;
  --sanserif: "SF Pro Display", "-apple-system", "BlinkMacSystemFont",
    "San Francisco", "Helvetica Neue", "Helvetica", "Ubuntu", "Roboto", "Noto",
    "Segoe UI", "Arial", sans-serif;
  --monospace: "Operator Mono", Consolas, Menlo, Monaco, source-code-pro,
    Courier New, monospace;
  --headline: "Barlow Semi Condensed", var(--sanserif);

  --article-hero-h1: 2.5rem;

  /*COLOR MODE TRANSITION*/
  --color-mode-transition: background 0.25s var(--ease-in-out-quad),
    color 0.25s var(--ease-in-out-quad);

  /*PRIMARY COLORS*/
  --primary: #000;
  --secondary: #73737d;
  --grey: #969696;
  --grey-light: #c9c9c9;
  --background-color: #fafafa;
  --accent: #6166dc;
  --hover: rgba(0, 0, 0, 0.07);
  --gradient: linear-gradient(180deg, rgba(217, 219, 224, 0) 0%, #d9dbe0 100%);
  --articleText: #08080b;
  --track: rgba(8, 8, 11, 0.3);
  --progress: #000;
  --card: #fff;
  --error: #ee565b;
  --success: #46b17b;
  --errorBackground: rgba(238, 86, 91, 0.1);
  --horizontalRule: rgba(8, 8, 11, 0.15);
  --inputBackground: rgba(0, 0, 0, 0.05);
  --tooltip: lightgrey;

  /*DARK COLORS*/
  --dark-grey: #73737d;
  --dark-primary: #fff;
  --dark-secondary: #fff;
  --dark-accent: #e9daac;
  --dark-background: #111216;
  --dark-hover: rgba(255, 255, 255, 0.07);
  --dark-gradient: linear-gradient(
    180deg,
    #111216 0%,
    rgba(66, 81, 98, 0.36) 100%
  );
  --dark-articleText: #fff;
  --dark-track: rgba(255, 255, 255, 0.3);
  --dark-progress: #fff;
  --dark-card: #1d2128;
  --dark-error: #ee565b;
  --dark-success: #46b17b;
  --dark-errorBackground: rgba(238, 86, 91, 0.1);
  --dark-horizontalRule: rgba(255, 255, 255, 0.15);
  --dark-inputBackground: rgba(255, 255, 255, 0.07);

  --action-background: #515151;
  --action-background--active: var(--color-brand-green-dark);
  --action-background--disabled: var(--color-grey-7);
  --action-background--focus: var(--color-grey-6);
  --action-background--selected: var(--color-grey-8);

  --border-radius-0: 5px;
  --border-radius-1: 10px;
  --border-radius-2: 15px;
  --border-radius-3: 20px;
  --border-radius-4: 25px;

  --color-grey: #383838;
  --color-grey-light: #7b7b7b;
  --color-grey-medium: #555555;
  --color-grey-dark: #191919;

  --color-grey-1: #f0f0f0;
  --color-grey-2: #ebebeb;
  --color-grey-3: #cbcbcb;
  --color-grey-4: #a9a9a9;
  --color-grey-5: #8e8e8e;
  --color-grey-5-alpha: rgba(142, 142, 142, 0);
  --color-grey-6: #6d6d6d;
  --color-grey-6-alpha: rgb(109, 109, 109, 0);
  --color-grey-7: #444444;
  --color-grey-8: #3d3d3d;
  --color-grey-9: #2e2e2e;

  --color-label: var(--color-grey-4);

  --color-white: #f3f3f3;
  --color-error: #b72437;
  --color-link: #0267a1;

  --copy-max-width: 640px;

  --font-body: var(--font-inter-medium);
  --font-heading: var(--font-inter-semibold);
  --font-button-primary: var(--font-inter-bold);

  --input-padding-y: var(--size-0);
  --input-padding-x: var(--size-0);
  --input-background-color: var(--color-brand-grey);
  --input-border-radius: var(--size-0);

  --size-0: 6px;
  --size-1: 12px;
  --size-2: 16px;
  --size-3: 24px;
  --size-4: 32px;
  --size-5: 44px;

  --text-shadow-dark--50: 3px 3px 5px rgba(0, 0, 0, 0.35);

  --window-border-color: var(--color-brand-grey);
  --window-border-width: 1px;

  /*PRISM*/
  --token: #fff;
  --languageJavascript: #e8696b;
  --javascript: #e8696b;
  --background: #292c34;
  --comment: #5e6a76;
  --string: #a8e2a8;
  --var: #b3bac5;
  --number: #e4854d;
  --constant: #b3bac5;
  --plain: #fff;
  --doctype: #e8696b;
  --tag: #e8696b;
  --keyword: #d49fd4;
  --boolean: #ff5874;
  --function: #5f8dc3;
  --parameter: #f9965d;
  --className: #ffcf74;
  --attrName: #bf87ba;
  --attrValue: #a8e2a8;
  --interpolation: #fff;
  --punctuation: #5fa8aa;
  --property: #80cbc4;
  --propertyAccess: #fff;
  --namespace: #b2ccd6;
  --highlight: rgba(255, 255, 255, 0.07);
  --highlightBorder: #e1bde2;
  --dom: #5f8dc3;
  --operator: #5fa8aa;
}
