<!-- Headline Banner -->
<section class="banner banner-headline">
  <!-- Section Title -->
  <div class="container flex flex-d-col pt-pb-4">
    <h1 class="mt-a mb-1">I'm a Web Designer and Developer from Colorado</h1>
    <p class="subtitle mb-0">Hello, I'm <a href="https://docs.google.com/document/d/1CG5F0XGEuR3ZWTTyU3i7L-wGu6gGtFXgkrhgAyKZcfM/edit?usp=sharing" title="view my resume in PDF form">Eric Thayer <span class="sr-only">preview my resume</span></a> — freelance consultant with a passion for building <a href="//dmns.netlify.app/pattern-library/">design systems</a> and <a href="//codepen.io/collection/DRKVjx?grid_type=grid">inclusive components</a> with other
      <a href="//twitter.com/_ericthayer/following/">like-minded</a> people.
    </p>
  </div>
</section>
