<!-- Headline Banner -->
<section class="banner banner-headline">
  <!-- Section Title -->
  <div class="container flex flex-d-col pt-pb-4">
    <h1 class="mt-a mb-1">I'm a Web Designer and Developer from Colorado</h1>
    <p class="sub-header mb-0">Hello, I'm <a href="/Eric-Thayer-Resume-Web-Designer-and-Front-end-Developer.pdf" title="view my resume in PDF form">Eric Thayer <span class="sr-only">preview my resume</span></a> — freelance consultant with a passion for building <a href="http://atomicdesign.bradfrost.com/">design systems</a> and <a href="//www.smashingmagazine.com/inclusive-design-patterns/">inclusive components</a> with other
      <a href="//twitter.com/_ericthayer/following/">like-minded</a> people.
    </p>
  </div>
</section>
