<!-- Headline Banner -->
<section class="banner banner-headline jc-center pt-pb-4">
  <!-- Section Title -->
  <div class="container align-center pt-pb-4">
    <h1 class="mr-ml-a">You Are So Nice</h1>
    <p class="sub-header mb-0 mr-ml-a text-md mw-25em lg-pr-pl-2">Thank you for taking the time to send me a message. I will respond as soon as possible. Please let me know if I'm taking too long and you have not heard back from me. Sometimes I miss a few.</p>
    <a href="../" class="home-link">
      <svg class="icon mr-ml-0">
        <use xlink:href="#icon-home" />
      </svg> <span class="sr-only">Home</span></a>
  </div>
</section>