<!-- Headline Banner -->
<section class="banner banner-headline jc-center pt-pb-4">
  <!-- Section Title -->
  <div class="container align-center pt-pb-4">
    <h1 class="mr-ml-a">Redesign in Progress</h1>
    <p class="sub-header mw-30em mb-0 mr-ml-a text-md">Pardon any broken links or placeholder content but I'm in the middle of building a new personal site. <a href="{{ .Site.BaseURL }}contact/">Please let me know what you think</a> or if I can make any improvements to your browsing experience.</p>
      <a href="../" class="home-link">
        <svg class="icon mr-ml-0">
          <use xlink:href="#icon-home" />
        </svg> <span class="sr-only">Home</span></a>
  </div>
</section>