.avatar {
  @include circle-mask;
  @include mb-0;
  &-sm {    
    height: 3rem;
    width: 3rem;
  }
  &-md {    
    height: 5rem;
    width: 5rem;
  }
  &-lg {    
    height: 7rem;
    width: 7rem;
  }
}