button {
  border-radius: .35rem;
  border: none;
  line-height: normal;
  padding-top: .5em;
  @include pr-1;
  padding-bottom: .45em;
  @include pl-1;
}

.submit-button {
  //@include bg-trans;
  //background: linear-gradient(to bottom, #EEE 10%, #BBB 100%);
  background: linear-gradient(to bottom, #EEE 0%, #DDD 100%);
  color: #555;
  overflow: hidden;
  @include relative;
  text-shadow: .05rem .05rem 0 #E3E3E3;
  box-shadow: 0 .1rem .2rem 0 transparent;
  //box-shadow: 0 .1rem .2rem 0 #AAA;
  transition: background .4s ease, color .4s ease, box-shadow .4s ease, text-shadow .4s ease;

  span {
    color: currentColor;
    position: relative;
    z-index: 2;
  }

  &::after {
    //border-radius: .35rem;
    @include pseudo-bg;
    background: linear-gradient(to bottom, #EEE 10%, #BBB 100%);
    background: $link;
    opacity: 0;
    top: 100%;
    left: 0;
    z-index: 0;
    transition: .4s ease;
  }

  &:hover,
  &:focus {
    //box-shadow: 0 .1rem .2rem 0 #EEE;
    color: #FFF;
    text-shadow: none;

    &::after {
      opacity: 1;
      top: 0;
    }
  }

  &:focus {
    outline: -moz-focus-ring-color auto 5px;
    outline: -webkit-focus-ring-color auto 5px;
  }
}

.offline-btn {
  background-color: transparent;
  color: $link;

  .icon {
    border-right: 2px solid currentColor;
    padding-right: .125rem;
  }

  // @include flex;
  // @include jc-center;
  padding: 0;
}

.source-link.has-tooltip {
  display: inline-block;

  // 480
  @media (max-width: $break-480) {
    .tooltip {
      min-width: 7em;

      &::before {
        //display: none;
        right: auto;
        left: 16px;
      }
    }
  }

  // 540
  @media (min-width: $break-540) {

    .tooltip {
      width: 6rem;
      left: -6.5rem;
      right: 0;
      margin-bottom: 0;
      bottom: 0;
    }
  }
}