// site copyright

p.copyrights {
  letter-spacing: -.03em;
  font-family: $sans-serif;
  font-size: .75em;
  // color: #999;
  a {
    background: none;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    font-size: 1em;
    text-shadow: none;
    //@include link-shadow;
    @supports (text-decoration-skip: ink) {
      text-shadow: none;
      background-image: none;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }
  // < 645
  @media (max-width: 40.313em) {
    @include flex-grow-1;
    @include text-center;
  }
}

.source-link {
  display: flex;
  align-items: center;
  // 375
  @media (min-width: $break-375) {
    margin-left: auto;
  }
}
