// Circle Mask
.circle-mask {
  @include circle-mask;
  img {
    border-radius: 50%;
    @include w-100;
  }
  figcaption {
    @include circle-mask;
    height: 40%;
    width: 100%;
    padding: 0;
    bottom: 0; //padding: 1em 2em;
    text-align: center; //display: flex;
    //justify-content: center;
    a {
      //display: flex;
    }
  } // Figcaption Animations
  .slide-down {
    height: 100%;
  }
  .slide-down,
  .slide-left,
  .slide-right {}
  // Image Caption
  .image-caption {
    float: none;
    text-align: center;
  }
}

// Rounded Thumbnail
.rounded-mask {
  @include rounded-mask;
  image {
    border-radius: 15px;
  }
  figcaption {
    //border-radius: 0 0 15px 15px;
  }
}

// Media Item (image or iframe only)
@keyframes filter-animation {
  0% {
    filter: invert(0) saturate(1);
  }
  100% {
    filter: invert(1) saturate(.7);
  }
}

@keyframes filter-animation-rev {
  0% {
    filter: invert(1) saturate(.7);
  }
  100% {
    filter: invert(0) saturate(1);
  }
}

@keyframes filter-hue-animation {
  0% {
    filter: hue-rotate(0deg) saturate(.7);
  }
  100% {
    filter: hue-rotate(20deg) saturate(1.5);
  }
}

@keyframes filter-hue-animation-rev {
  0% {
    filter: hue-rotate(20deg) saturate(1.5);
  }
  100% {
    filter: hue-rotate(0deg) saturate(.7);
  }
}

// @keyframes img-loader {
//   0% {
//     background: linear-gradient(0deg, #09C, #639, #FF0, #8D4);
//   }
//   10% {
//     background: linear-gradient(40deg, #09C, #639, #FF0, #8D4);
//   }
//   20% {
//     background: linear-gradient(80deg, #09C, #639, #FF0, #8D4);
//   }
//   30% {
//     background: linear-gradient(120deg, #09C, #639, #FF0, #8D4);
//   }
//   40% {
//     background: linear-gradient(160deg, #09C, #639, #FF0, #8D4);
//   }
//   55% {
//     background: linear-gradient(200deg, #09C, #639, #FF0, #8D4);
//   }
//   70% {
//     background: linear-gradient(240deg, #09C, #639, #FF0, #8D4);
//   }
//   80% {
//     background: linear-gradient(280deg, #09C, #639, #FF0, #8D4);
//   }
//   90% {
//     background: linear-gradient(320deg, #09C, #639, #FF0, #8D4);
//   }
//   100% {
//     background: linear-gradient(360deg, #09C, #639, #FF0, #8D4);
//   }
// }

.media-item {
  line-height: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0; //will-change: transform scale;
  transition: all .4s ease;
  @include relative;
  //width: 100%;
  > a {
    display: inline-block;
    overflow: hidden;

    .lazyloaded & {
      overflow: visible;
    }
  }
  img, iframe {
    @include text-sm;
    line-height: 2.35;
    text-align: center;
  }
  img {
    animation: filter-hue-animation-rev .5s ease forwards;
    transition: .4s ease;
  }
  .icon {
    height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  &::before {
    display: none;
    //animation: img-loader 1.5s infinite;
    @include pseudo-bg;
    @include p-4;
    top: 0;
    left: 0;
    transition: .4s;
    z-index: 1;
  }
}

.flex-basis-100.flex-basis-100 {
  flex-basis: 100vw;
  // width: 100vw;
}

// adds border for lighter examples
.media-light {
  box-shadow: 0 0 0 1px #E5E5E5;

  .media-caption {
    right: 1px;
    bottom: 1px;
  }
}

// time stamp & figcaption
.time-stamp,
.media-caption {
  background-color: rgba(black, .75); //border-radius: 15px 0 0 0;
  color: #FFF;
  @include fonts-loaded-KO;
  font-size: 1rem; //min-height: 10%;
  //min-width: 1%;
  line-height: 1.25;
  padding: .35em .75em;
  position: absolute;
  right: 0;
  transition: all .4s ease;
}

.time-stamp {
  @include sr-only; 
  //background-color: rgba(darkRed, .85);
  padding: 0; 
  //top: calc(100% - 4.25em);
  //transform: translateX(-101%);
}

.media-caption {
  bottom: 0;
  opacity: 0;
  .fonts-loaded & {
    font-size: 1.25rem;
  }
  transform-origin: top center;
  transform: translateX(0%) translateY(0%);
  .lazyloaded & {
    opacity: 0;
  }
}

.project-desc {
  display: none;
  opacity: 0;
  transition: .3s ease;
}

// Media Hover/Focus styles
.media-item a:hover,
.media-item a:focus {

  img {
    animation: filter-hue-animation .5s ease forwards;
    transform: scale(1.05);
    transform-origin: top;
  }

  .time-stamp,
  .media-caption {
    transform: none;
  }
  .media-caption {
    opacity: 1;
    .fonts-loaded & {
      font-size: 1.5rem;
    } //min-height: 50%;
    //min-width: 100%;
    //top: 0;
    //bottom: auto;
    //opacity: 1;
    transform: translateY(-100%);
  }
  .project-desc {
    display: block;
    opacity: 1;
  }
}


.media-item a.portfolio:hover,
.media-item a.portfolio:focus {

  cursor: all-scroll;

  img {
    animation: none;
    transform: none;
  }
}

// media details
.media-details {
  p {
    font-size: 1rem;
    line-height: 1.5;
  }
  a {
    color: $link;
    @include link-shadow;
    &:hover,
    &:focus {
    }
  }
}

// headshot
.mug {
  @include slug-img-bg;
  display: none;
  @include mr-a;
  @include mb-1;
  @include ml-a;
  max-height: 100%;
  max-width: 100%;
  height: 12em;
  width: 12em;
  shape-outside: circle();
  img {
    opacity: 0;
  }
  // > 400
  @media (min-width: $break-540) {
    display: block;
    float: right;
    //height: 15em;
    //width: 15em;
    //margin-top: -1em;
    @include ml-4;
  }
}
