.media-wrap {
  @include fade-in;
  line-height: 0;
  height: 0;
  margin: 0;
  position: relative;
  // padding-bottom: 70% !important; // 4:3
  padding-bottom: 56.25%; // 16:9
  width: 100%;
  z-index: 1;
  img,
  iframe {
    display: inline-block;
    opacity: 0;
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: .4s ease;
  }
  iframe {
    &.card {
      @include card-media;
      position: absolute;
    }
  }
  &.img {
    @include slug-img-bg;
  }
  &.web {
    @include slug-web-bg;
  }
  &.video {
    @include slug-video-bg;
    figcaption {
      position: relative;
      bottom: -2.2em;
      text-align: center;
    }
  }
  &.pen {
    @include slug-code-bg;
    //padding-bottom: 70%; // 4:3
  }
}

// Embedded Map
.map-embed {
  display: block;
  height: 100%;
  padding-top: 2em;
  padding-bottom: 80%;
  #map-canvas {
    height: 100%;
    width: 100%;
  }
}

// Embedded Prototype
.proto-embed {}

.proto-sm {
  width: $break-375;
}
