.media-wrap {
  @include fade-in;
  line-height: 0;
  height: 0;
  margin: 0;
  position: relative;
  // padding-bottom: 70% !important; // 4:3
  padding-bottom: 56.25%; // 16:9
  transition: box-shadow .4s ease;
  width: 100%;
  z-index: 1;

  img,
  iframe {
    display: inline-block;
    opacity: 0;
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: .4s ease;
  }

  iframe {
    &.card {
      @include card-media;
      position: absolute;
    }
  }

  &:hover,
  &:focus {
    box-shadow: var(--shadow-2, 0 0 20px 0 #CCC);
  }

  &.img {
    @include slug-img-bg;
  }

  &.web {
    @include slug-web-bg;
  }

  &.portfolio {
    @include slug-web-bg;
    overflow-y: overlay;

    img {
      height: auto;
    }
  }

  &.video {
    @include slug-video-bg;

    figcaption {
      position: relative;
      bottom: -2.2em;
      text-align: center;
    }
  }

  &.pen {
    @include slug-code-bg;
    //padding-bottom: 70%; // 4:3
  }
}

// Embedded Map
.map-embed {
  display: block;
  height: 100%;
  padding-top: 2em;
  padding-bottom: 80%;
  #map-canvas {
    height: 100%;
    width: 100%;
  }
}

// Embedded Prototype
.proto-embed {}

.proto-sm {
  width: $break-375;
}

/* Works on Firefox */
.portfolio {
  scrollbar-width: thin;
  scrollbar-color: #333 rgba(black, 0.2);
}

/* Works on Chrome, Edge, and Safari */
.portfolio::-webkit-scrollbar {
  width: 12px;
}

.portfolio {
  
  &::-webkit-scrollbar-track {
    background: rgba(black, 0);
    border: none;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: rgba(white, 0);
    // border-radius: 20px;
    // border: 2px solid rgba(black, 0.1);
  }

  &:hover {
    &::-webkit-scrollbar-track {
      background: rgba(black, 0.35);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(white, 0.75);
    }
  }
}

.media-light .portfolio {

  // &:hover {
  //   &::-webkit-scrollbar-track {
  //     background: rgba(black, 0.4);
  //   }
  //   &::-webkit-scrollbar-thumb {
  //     background-color: #333;
  //   }
  // }
}