.site-title {
  display: flex;
  align-items: center;  
  // flex-grow: 1;
  min-width: 0;
  min-height: 0;
  padding-top: 1.5em;
  padding-right: 1.5em; 
  padding-bottom: 1.5em;
  padding-left: 1.5em;
  transition: background-color .4s ease;
  &:hover,
  &:focus {
    background-color: rgba(black, .2);
    // outline: -moz-focus-ring-color auto 5px;
    // outline: -webkit-focus-ring-color auto 5px;
  }
  // < 540
  @media (max-width: $break-640 - .01em) {
    // display: none;
  }
  // > 540
  @media (min-width: $break-640) {
    flex-grow: 0;
    padding-top: 1em;
    padding-bottom: 1em; 
    width: 14em;
  }
}

// Logo

.alt-logo,
.main-logo {
  display: block; 
  margin-right: auto;
  margin-left: auto;
  max-height: 3.125em;
  //min-height: 2em;  
  max-width: 15rem;      
  width: 100%;
}

.alt-logo {
  //display: none; 
  fill: currentColor;  
  // > 240 ~ < 540
  @media (min-width: $break-240) and (max-width: $break-540 - .01em) {
    //display: none;  
  } 
  @media (min-width: $break-540) {
    //display: block;
  } 
}

%logo-icon-left { 
  fill: $light-tan;
  fill: #FFFFFF;
}

%logo-icon-right { 
  fill: $med-green;
  fill: #DDD;
}

// Main logo

.main-logo {
  display: block;
  // > 240 ~ < 667
  @media (min-width: $break-240) and (max-width: $break-640 - .01em) {
    //display: block;  
  }
  @media (min-width: $break-640) {
    display: none;
  }
}

// SVG path

.svg-logo-path {
  fill: #FFFFFF;
}