/* --- Global & Base Layout Styles --- */

:where(html) {
  --shadow-1: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
              6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
              12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
              22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
              41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
              100px 100px 80px rgba(0, 0, 0, 0.07);
  --shadow-2: 0 7px 9px -4px rgba(0,0,0,.2),
              0 14px 21px 2px rgba(0,0,0,.14),
              0 5px 26px 4px rgba(0,0,0,.12);

  overflow-x: hidden;
}

body {
  @include flex;
  @include flex-d-col;
  @include mh-100vh;

  // display: grid;
  // grid-template-rows: auto 1fr auto;

  &.reel {
    @media (min-height: $break-768) {
      //min-height: 100vh;
    }
  }
}

#main>section:not(.banner),
#site-footer {
  //@include bg-light-grey;
}

.reel {
  .site-header,
  .site-footer {
    @include relative;
    z-index: 1;
  }
  footer {
    @include bg-light-grey;
  }
}

// main {
//   position: relative;
//   z-index: 1;
// }

.reel main {
  // position: relative !important;
  //z-index: 1 !important;
}

.container,
.container-fluid,
.container-xl {
  container-type: inline-size;
  margin: 0 auto;
  @include pr-2;
  @include pl-2;
  @include w-100;
  // 1600
  @media (min-width: $break-1600) {
    //max-width: 95%;
    //@include pr-4;
    //@include pl-2;
  }
}

.container {
  max-width: 80rem;
}

.container-flex {
  // > 540
  @media (min-width: $break-540) {
    //padding-right: 0;
    //padding-left: 0;
  }
}

.container-flex-media {
  // > 540
  @media (min-width: $break-540) {
    //padding-right: 0;
    //padding-left: 0;
  }
  // 1400
  @media (min-width: 87.5em) {
    max-width: 95%;
  }
}

.container-fluid {
  max-width: 100%;
}

.container-xl {
  max-width: 2750px;
}

main:focus,
section:focus {
  box-shadow: none;
}

main {
  //overflow-x: hidden;
}

.main-content {
  flex-grow: 1;
}
