// // Typography
// @font-face {
//   font-family: "Knockout-29";
//   src: url("css/fonts/Knockout-HTF29-JuniorLiteweight-subset.woff2") format("woff2"),
//        url("css/fonts/Knockout-HTF29-JuniorLiteweight-subset.woff") format("woff");
//   font-display: swap;
//   font-style: normal;
//   font-weight: normal;
// }
// @font-face {
//   font-family: "Roboto Condensed";
//   src: url("css/fonts/RobotoCondensed-Regular-subset.woff2") format("woff2"),
//        url("css/fonts/RobotoCondensed-Regular-subset.woff") format("woff");
//   font-display: swap;
//   font-style: normal;
//   font-weight: normal;
// }

@font-face {
  font-family: "Knockout-29";
  src: url("fonts/Knockout-HTF29-JuniorLiteweight-subset.woff2") format("woff2"),
       url("fonts/Knockout-HTF29-JuniorLiteweight-subset.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/RobotoCondensed-Regular-subset.woff2") format("woff2"),
       url("fonts/RobotoCondensed-Regular-subset.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

.KO29 {
  @include fonts-loaded-KO;
}

.Roboto {
  @include fonts-loaded-Roboto;
}

.sans-serif {
  font-family: $sans-serif;
}

:root {
  font-size: calc( 1rem + (20 - 14) * ( (100vw - 400px) / ( 2000 - 400))); // < 240
  @media (max-width: 15em) {
    //font-size: 14px;
  } // > 1200
  @media (min-width: $break-1200) {
    //font-size: 16px;
  }
}

body {
  color: #333;
  line-height: 1.47564;
  font-family: $sans-serif-narrow;
  font-size-adjust: none;
  text-rendering: optimizeLegibility;
}

@mixin headline {
  color: currentColor;
  @include fonts-loaded-KO;
  line-height: 1.1;
  @include mb-1;
  transition: opacity .2s;
  -moz-osx-font-smoothing: greyscale;
  -webkit-font-smoothing: antialiased;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
  @include headline;
}

// h1,.h1 {}

a {
  color: currentColor;
  text-decoration: none;
  transition: color .4s ease;
}

p {
  color: #444;
  font-size: 1.2em;
  @include fonts-loaded-Roboto;
  line-height: 1.576;
  -moz-osx-font-smoothing: greyscale;
  -webkit-font-smoothing: antialiased;
  a {
    color: $link;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    // text-shadow: 0;
    // background-image: none;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: 100%;
  }

}

@supports not (text-decoration-skip-ink: auto) {
  // p a {
  //   // text-decoration: none;
  //   // text-shadow: .05em 0 0 #F9F9F9, -0.05em 0 0 #F9F9F9, 0 .05em 0 #F9F9F9, 0 -0.05em 0 #F9F9F9, .1em 0 0 #F9F9F9, -0.1em 0 0 #F9F9F9, 0 .1em 0 #F9F9F9, 0 -0.1em 0 #F9F9F9;
  //   // background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
  //   // background-repeat: repeat-x;
  //   // background-position: bottom .05em center;
  //   // background-size: 100% .07em;
  // }
}

p a:hover,
p:focus,
a:focus {
  @include focus-pink;
  text-shadow: none;
}

a abbr[title] {
  text-decoration: inherit;
}

// a .icon {
//   //fill: $link;
// }

strong {
  font-weight: 600;
  @include antialiased;
}

nav,
p ul,
p ol {
  margin-bottom: 1rem;
}

// > 180
@media (min-width: 11.25em) {
  h1, .h1 {
    font-size: 3.5em;
  }
  h2,
  .h2 {
    font-size: 2.75em;
  }
  h3,
  .h3 {
    font-size: 2.125em;
  }
  h4,
  .h4 {
    font-size: 1.875em;
  }
  h5,
  .h5,
  .small-header {
    font-size: 1.65em;
  }
  h6,
  .h6 {
    font-size: 1.25em;
  }
}

.sub-header {
  //@include fonts-loaded-KO29;
  @include antialiased;
  font-size: 1.25rem;
  font-weight: normal;
  //line-height: 1.467;
  letter-spacing: -.01em;
  .align-center & {
    margin-right: auto;
    margin-left: auto;
  }
  a {
    white-space: pre;
  }
  // .fonts-loaded & {
  //   //font-size: 1.65rem;
  // }
  // > 540
  @media (min-width: $break-540) {
    margin-bottom: 2em;
    //max-width: 38em;
  } // > 1200
  @media (min-width: $break-1200) {
    //max-width: 100%;
  }
}

%disclaimer {
  color: hotpink;
  font-size: 1rem;
  font-family: $sans-serif; //font-style: italic;
}

// List styles
.content-list {
  list-style-type: none;
  line-height: 2;
  padding-left: .5rem;
}

.feature-list {
  @include fonts-loaded-Roboto;
  color: -777;
  abbr[title] {
    text-decoration: inherit;
  }
  a {
    color: $link;
  }
  .fonts-loaded & {
    font-size: 1.25rem;
  }
  line-height: 1.4;
  @include mb-0;
  @include pl-0;
  li {
    @include mb-tiny;
  }
  &-inline {
    li {
      display: inline-block;
      padding-right: .5rem;
    }
  }
  a {
    @include focus-pink;
    @include focus-arrows;
  }
}

// @mixin random-text-1 {

//   @keyframes random-text-1 {
//     0% {
//       opacity: 1;
//     }
//     10% {
//       opacity: 0;
//     }
//     10% {
//       content: "knows how to grill.";
//       opacity: 1;
//     }
//     15% {
//       opacity: 0;
//     }
//     20% {
//       content: "takes gutar lessons on YouTube.";
//       opacity: 1;
//     }
//     25% {
//       opacity: 0;
//     }
//     30% {
//       content: "needs to get more attributes.";
//       opacity: 1;
//     }
//     35% {
//       opacity: 0;
//     }
//     40% {
//       content: "can design logos, kinda.";
//       opacity: 1;
//     }
//     45% {
//       opacity: 0;
//     }
//     50% {
//       content: "will eat a taco anytime of the day.";
//       opacity: 1;
//     }
//     55% {
//       opacity: 0;
//     }
//     60% {
//       content: "is from beautiful Colorado.";
//       opacity: 1;
//     }
//     65% {
//       opacity: 0;
//     }
//     70% {
//       content: "loves to fish and cook.";
//       opacity: 1;
//     }
//     75% {
//       opacity: 0;
//     }
//     80% {
//       content: "married to Jessica.";
//       opacity: 1;
//     }
//     85% {
//       opacity: 0;
//     }
//     90% {
//       content: "coaches youth sports.";
//       opacity: 1;
//     }
//     95% {
//       content: "plays softball weekly.";
//     }
//     100% {
//       opacity: 0;
//     }
//   }

//   animation: random-text-1 1s;

// }

// @mixin random-text-2 {

//   @keyframes random-text-2 {
//     0% {
//       content: ", husband and father.";
//     }
//     10% {
//       content: " and from beautiful Colorado.";
//     }
//     20% {
//       content: " and avid fisherman.";
//     }
//     30% {
//       content: " and needs more interesting attributes.";
//     }
//     40% {
//       content: "can design branding assets.";
//     }
//     50% {
//       content: "married to Jessica since 2004.";
//     }
//     60% {
//       content: "who cares about performance.";
//     }
//     70% {
//       content: "takes gutar lessons on YouTube.";
//     }
//     80% {
//       content: "will eat a taco an-y-time.";
//     }
//     90% {
//      content: "once swam with jellyfish.";
//     }
//     // 90% {
//     //   content: "coaches youth sports.";
//     //   opacity: 1;
//     // }
//     // 95% {
//     //   content: "plays softball weekly.";
//     // }
//     // 100% {
//     //   opacity: 0;
//     // }
//   }

//   animation: random-text-2 50s 2s infinite;

// }

// @mixin headline-text {

//   @keyframes headline-text {
//     0% {
//       content: ", husband and father of four";
//       content: "Web";
//     }
//     10% {
//       content: " from beautiful Colorado";
//       content: "UX";
//     }
//     20% {
//       content: " and avid fisherman";
//       content: "Brand";
//     }
//     30% {
//       content: " who loves meetings";
//       content: "Styleguide";
//     }
//     40% {
//       content: " can prototype in my sleep";
//       content: "Inclusive";
//     }
//     50% {
//       content: " loves a great wireframe";
//       content: "UI";
//     }
//     60% {
//       content: " who cares about people";
//       content: "Front-end";
//     }
//     70% {
//       content: " that dreams of systems";
//       content: "Interactive";
//     }
//     80% {
//       content: " logo creator";
//       content: "Product";
//     }
//     90% {
//      content: " youth sports coach";
//      content: "Motion";
//     }
//     // 90% {
//     //   content: "coaches youth sports.";
//     //   opacity: 1;
//     // }
//     // 95% {
//     //   content: "plays softball weekly.";
//     // }
//     // 100% {
//     //   opacity: 0;
//     // }
//   }

//   animation: headline-text 60s 2s infinite;

// }

// [data-text="headline"] {
//   position: relative;
//   &::before,
//   &::after {
//     transition: .4s ease;
//   }
//   &::before {
//     content: "Web";
//     opacity: 1;
//     //@include headline-text;
//   }
//   // &::after {
//   //   content: "is from beautiful Colorado.";
//   //   @include random-text-2;
//   // }
//   @media (min-width: $break-640) {
//     &::before {
//       //content: "Good Design Save Lives";
//     }
//   }
//   @media (min-width: $break-900) {
//      &::before {
//       //content: "Bad Design Can Kill";
//     }
//   }
//   @media (min-width: $break-1200) {
//      &::before {
//       //content: "Design for Humankind";
//     }
//   }
// }
